<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PickerViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5AE6DD81F4D1D2700391F0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5AE6DEC1F4D1D2700391F0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5AE6DF71F4D1D2700391F0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
